@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary-color: #343a40;
  --secondary-color: #ff8800;
  --nav-links-color: #ced4da;
  --text-color: #adb5bd;
}
.App {
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  margin: 0;
}

h1,
h2 {
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: var(--nav-links-color);
}

h2:hover {
  transform: scale(1.2);
}

/* Navigation */
.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
}

/* Banner page */
.Main {
  height: 100%;
}

.Banner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: var(--secondary-color);
}

.banner-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ABOUT */

.About {
  min-height: 100%;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.About h3 {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  height: 275px;
  width: auto;
}

img {
  border-radius: 50%;
  width: auto;
  max-height: 100%;
  box-shadow: 0 0 4px 2px #6c757d;
}

.About section {
  margin: 0 30px 30px 30px;
  background-color: #495057;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #6c757d;
  font-size: large;
  font-weight: 600;
  width: 75%;
}

/*TOOLS*/

.Tools {
  height: 100%;
}

/* FOOTER */

.nav-personals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
}
