@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary-color: #343a40;
  --secondary-color: #ff8800;
  --nav-links-color: #ced4da;
  --text-color: #adb5bd;
}

h1,
h2 {
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: var(--nav-links-color);
}

h2:hover {
  transform: scale(1.2);
}

/* Navigation */
.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  background-color: var(--primary-color);
}

/* Banner page */
.Banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.banner-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ABOUT */

.About {
  height: 100vh;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--text-color);
  letter-spacing: 2px;
}

.About h3 {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.About p {
  margin-top: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 8px 4px #6c757d;
}

.About section {
  margin: 0 20px;
}
