/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --primary-color: #343a40;
  --secondary-color: #ff8800;
  --nav-links-color: #ced4da;
  --text-color: #adb5bd;
}
.App {
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  margin: 0;
}

h1,
h2 {
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: var(--nav-links-color);
}

/* Navigation */
.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
}
.nav-links li:hover {
  transform: scale(1.2);
}

/* Banner page */
.Main {
  height: 100%;
}

.Banner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: var(--secondary-color);
}

.banner-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ABOUT */

.About {
  min-height: 100%;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.About h3 {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  height: 275px;
  width: auto;
}

.pic-of-me {
  border-radius: 50%;
  width: auto;
  max-height: 100%;
  box-shadow: 0 0 4px 2px #6c757d;
}

.About section {
  margin: 0 30px 30px 30px;
  background-color: #495057;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #6c757d;
  font-size: large;
  font-weight: 600;
  width: 75%;
}

/*TOOLS*/

.Tools {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  position: relative;
}

.Tool-containers {
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #6c757d;
  font-size: large;
  font-weight: 600;
  background-color: #495057;
  width: 75%;
  margin: 15px 0;
}

.Tool-containers h3 {
  color: var(--secondary-color);
}

.tool-list {
  padding-left: 0;
}
.tool-list li {
  list-style: none;
}
.tool-header {
  color: #ff8800;
}

/* WORKS */
.Works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.work-container {
  border-radius: 3px;
  background-color: #495057;
  text-align: center;
  color: #adb5bd;
  cursor: pointer;
  margin: 7px 0;
  max-width: 75%;
}

.work-image-container {
  height: 100%;
  width: 100%;
}
.works-img {
  border-radius: 5px;
  width: 100%;
}

.work-paragraph {
  margin: 0;
}
.work-title {
  color: #ff8800;
  margin-top: 0;
}

.work-container:hover {
  box-shadow: 0 0 4px 2px #6c757d;
}

/* FOOTER */

.nav-personals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
}
